.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fbc2eb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
    }

    @import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);

$brown: #786450;

.frame {
  position: absolute;
 
 
  
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
	background: #CA7C4E;
  background: -webkit-linear-gradient(bottom left, #EEBE6C 0%, #CA7C4E 100%);
  background: -moz-linear-gradient(bottom left, #EEBE6C 0%, #CA7C4E 100%);
  background: -o-linear-gradient(bottom left, #EEBE6C 0%, #CA7C4E 100%);
  background: linear-gradient(to top right, #EEBE6C 0%, #CA7C4E 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEBE6C', endColorstr='#CA7C4E',GradientType=1 ); 
  color: $brown;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50px;
  left: 40px;
	height: 299px;
	width: 320px;
	background: #fff;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.3);
	// margin-left: -6rem;
}

.profile {
	float: left;
	width: 200px;
	height: 320px;
	text-align: center;
	
	.image {
		position: relative;
		width: 70px;
		height: 70px;
		margin: 38px auto 0 auto;
		
		.circle-1 {
			position: absolute;
			box-sizing: border-box;
			width: 76px;
			height: 76px;
			top: -3px;
			left: -3px;
			border-width: 1px;
			border-style: solid;
			border-color: $brown $brown $brown transparent;
			border-radius: 50%;
			transition: all 1.5s ease-in-out;
		}
		
		.circle-2 {
			@extend .circle-1;
			width: 82px;
			height: 82px;
			top: -6px;
			left: -6px;
			border-color: $brown transparent $brown $brown;
		}
		
		img {
			display: block;
			border-radius: 50%;
			background: #F5E8DF;
		}
		
		&:hover {
			cursor: pointer;
			
			.circle-1 {
				transform: rotate(360deg);
			}
			
			.circle-2 {
				transform: rotate(-360deg);
			}
			
		}
		
	}
	
	.name {
		font-size: 15px;
		font-weight: 600;
		margin-top: 20px;
	}
	
	.job {
		font-size: 11px;
		line-height: 15px;
	}
	
	.actions {
		margin-top: 33px;
		
		.btn {
			display: block;
			width: 120px;
			height: 30px;
			margin: 0 auto 10px auto;
			background: none;
			border: 1px solid $brown;
			border-radius: 15px;
			font-size: 12px;
			font-weight: 600;
			box-sizing: border-box;
			transition: all .3s ease-in-out;
			color: $brown;
			
			&:hover {
				background: $brown;
				color: #fff;
			}
		}
	}
	
}

.stats {
	float: left;
	
	.box {
		box-sizing: border-box;
		width: 120px;
		height: 99px;
		background: #F5E8DF;
		text-align: center;
		padding-top: 28px;
		transition: all .4s ease-in-out;
		
		&:hover {
			background: #E1CFC2;
			cursor: pointer;
		}
		
		&:nth-child(2) {
			margin: 1px 0;
		}
		
	}
	
	span {
		display: block;
	}
	
	.value {
		font-size: 18px;
		font-weight: 600;
	}
	
	.parameter {
		font-size: 11px;
	}
	
}
@media (max-width: 990px) {
	.div2 {
	  display: flex;
	  flex-direction: column;
	  margin-left: -9rem;
	}
	.vh-100{
		margin-left: 18rem;
	}
	.center{
		margin-left: -4rem;
	}
	.frnds{
		margin-left: 7rem;
	}
	
  }

  @media (max-width: 575px) {

	.center{
		margin-left: -4rem;
	}
	
	
  }
  @media (max-width: 480px) {
	.center {
	  margin-left:9rem
	}
  }